.about {
  text-align: center;
}

.haircare {
  text-align: center;
}

.intro {
  text-align: center;
  font-family: cursive;
  font-size: 50px;

  background-color: #819fc1;
}

.newproduct {
  text-align: center;
}
